* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.display-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1EA412;
    border-bottom: 5px solid #FB380E;
    border-radius: 10px;
    color: #fff;
    height: 60px;
}

 label {
    display: flex;
    font-style: normal;
    font-size: 15px;
    line-height: 30px;
} 

