<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Estilização do Header -->
    <link rel="stylesheet" href="../style/header.css">
</head>
<body>
    <div class="header">
            <div class="container-main-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-0">
                            <a href="https://www.ceara.gov.br/"><img src="../assets/logo-governo.svg" alt="Logo do Governo do Ceará"></a>
                            <a href="https://www.instagram.com/eeepmanoelmano/"><img src="../assets/logo-mm.svg" alt="Logo da EEEP Manoel Mano"></a>
                        </div>
                        <div class="col-0">
                            <select name="" id="">
                                <option value="">teste</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</body>
</html>